<a href="https://colab.research.google.com/github/JohnAlfredReyes/-PLM-Elective-3-Lab-CPE-0332.1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


FOR LOOP

In [ ]:
week =("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
for x in week:
  print(x)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

BREAK STATEMENT

In [ ]:
week=("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday",)
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
#Another Example
week=("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

LOOPING THROUGH A STRING

In [ ]:
for x in "week":
  print(x)

w
e
e
k

EXAMPLE 5: Display only Thursday by using a break statement

In [ ]:
week=("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday",)
for x in week:
  if x=="Thursday":
    print (x)
    break

Thursday

THE RANGE () FUNCTION

In [ ]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
for x in range (2,6):
    print(x)

2
3
4
5

In [ ]:
for x in range (2,6,2):
    print(x)

2
4

NESTED LOOPS

In [ ]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

WHILE STATEMENT

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

WHILE LOOP with BREAK STATEMENT

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

CONTINUE STATEMENT

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

ELSE STATEMENT

In [ ]:
i=1
while i<6:
  print(i)
  i
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Create a Python program that displays:​**

		Hello 0​

		Hello 1​

	 	Hello 2​

	 	Hello 3​

		Hello 4​

		Hello 5​

		Hello 6​

		Hello 7​

		Hello 8​

		Hello 9​

		Hello 10​

In [ ]:
# FOR Loop

for i in range(11):
    print(f"Hello {i}")

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [ ]:
# WHILE Loop

i = 0
while i <= 10:
    print(f"Hello {i}")
    i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**Create a Python program that displays integers less than 10 but not less than 3​**

In [ ]:
# FOR Loop

for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [ ]:
# WHILE Loop

i = 3
while i < 10:
    print(i)
    i += 1

3
4
5
6
7
8
9