<a href="https://colab.research.google.com/github/JohnAlfredReyes/-PLM-Elective-3-Lab-CPE-0332.1-1/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [4]:
x=3
y=2
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [3]:
print("Hello world") #This is a comment

Hello world

Python Variable

In [9]:
z=1
z,s=0,-1
z,s,t=8,9,10
print(z)
print(s)
print(t)

8
9
10

Casting

In [10]:
b = "Sally" #This is a string
b = int(4)
b

4

Type () function

In [11]:
print(type(b))

<class 'int'>

Double Quotes or Single Quotes

In [12]:
w = "Ana"
print(w)
q = "Ana"
print(q)

Ana
Ana

Case Sensitive

In [13]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

Multiple Variables

In [14]:
h, i, j= "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variable with Single Value

In [15]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation

In [23]:
n = "enjoying."
p = "Python programming is"
print(p + n)

Python programming isenjoying.

Arithmetic Operations

In [26]:
print (x+y) #Addition
print (x-y) #Substraction
print (x*y) #Multiplication
print (x/y) #Division
print (x//y) #Floor Division
print (x%y) #Modulus
print (x**y) #Exponentiation

10
6
16
4.0
4
0
64

Assignment Operators

In [27]:
x+=3 #same as x = x=3
print(x)

11

Comparison Operators

In [30]:
print (x==y) #x=3, y=2
print (x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operators

In [36]:
print (x==y and x!=y) #False and True
print (x==y or x!=y) #False or True
print (not(x==y or x!=y)) #negate (False or True)

False
True
False

Identity Operators

In [38]:
x is y #x=3, y=2
x is not y

True

Bitwise Operators

In [47]:
#10 + 1 = 11  ; 1010 + 0001 = 1011
print (10 | 1)

print (x>>1)  #x=3 , 011

11
5

Application 1

In [52]:
#Create a Python program that displays your Fullname, Age, and Course and Section
def display_information():
    # Replace these values with your actual information
    full_name = "John Alfred Reyes"
    age = 24
    course_and_section = "BS Computer Engineering -  CPE 0332.1-1"

    # Print the information
    print("Full Name: ", full_name)
    print("Age: ", age)
    print("Course and Section: ", course_and_section)

# Call the function to display the information
display_information()

Full Name:  John Alfred Reyes
Age:  24
Course and Section:  BS Computer Engineering -  CPE 0332.1-1